.navbar {

    background-color:#001f3f;  
    border-bottom: 4px solid green;
    padding: 20px;
    align-items: center;

}

#tittle {
    color: white;
    width: 300px;
}
.horario-termino{
    display: none;
}
.txt-objetivo{
margin-left: -20px;    }
.logo_hospital{
    width: 70px;
    height: 70px;
  }
  #botaosolicitar{
    width:30%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .btn-atas{
    gap: 1rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .col-7-facilitador{
    width: 100px;
  }
  .row-addfacilitador{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .btnsparticipante{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }
@media  (max-width: 768px) {
    div.container_align{
         width: 90%; 
         justify-content: space-between;
         margin: 0 auto;
         padding: 0px;
    }.facilitadorcol {
      margin-top: 100px;
    }
    .btnsparticipante{
    justify-content: space-between;
    flex-direction: column;
    }
    .col-7-facilitador{
        width:197px;
      }

    .btn-atas{
        margin-top: 10px;
        gap: 1rem;
        width: 100%;
    }
    #botaosolicitar{
        width:85%;
      }
    .txt-objetivo{
    margin-left: 0px;
    }
    .horario-termino{
        display: flex;
    }
    .txt-horariotermino{
display: none;
    }
   
  }
  .logo_hospital{
    width: 50%;
    height: 50%;
  }

.container_align{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}
#container{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}
.box-primary {
    padding: 30px 50px 30px 50px;
    background-color: rgba(240, 240, 240, 0.41);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.row-addfacilitador form select{
  background-color: #20315f;
    width: 100%;
    display: flex;
}
.div {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: blue;
    padding: 10px;
    
}
.delibera{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.delibera div {
  background-color: black;width: 72%;
  height: 2px;
}
.add-button:hover{
  background-color: #686868;
}
 .add-button{
  outline: none;
  border: none;
  background-color: #CECECE;
  margin: 0px 0px 0px 705px;
width: 40px;height: 35px;
border-radius: 5px;
/* + */
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 25px;
/* identical to box height */
transition: 1s;
color: #FFFFFF;


}
#teste {
  width: 100px;
  height: 40px;
  background-color: #20315f;
}


 /* Modal styles */
 .modal {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80vh;
  max-width: 900px;
  transition: 1s;
}

/* Button styles */
#botaosolicitar{
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Close button styles */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.participantes_forms{
  display: flex;
 background-color: #353535;
} .btndeliberacoes{
  margin: 20px;
}
#filtroInput{
  border: none;
  outline: none;
}
