/* .navbar {

    background-color:#001f3f;  
    border-bottom: 4px solid green;
    padding: 20px;
    align-items: center;

}

#tittle {
    color: white;
    width: 300px;
}
.horario-termino{
    display: none;
}
.txt-objetivo{
margin-left: -20px;    }
.logo_hospital{
    width: 70px;
    height: 70px;
  }
  #botaosolicitar{
    width:30%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  #botaoregistrar{
    width: 150px;
    text-align: center;
    display: flex;align-items: center;
    justify-content: space-around;}
  .btn-atas{
    gap: 1rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .col-7-facilitador{
    width: 100px;
  }
  .row-addfacilitador{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  } */
 